/* Variáveis de cores para o Sass */
:root {
    --primary-color: #ff59b4;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #343a40;
}

/* Hero Section */
header {
    background: url(../Video/Video\ Hero\ Section.gif) no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

header a {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 1.2rem;
}

/* Apresentação */
#apresentacao {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 50px 0;
}

#apresentacao h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

#apresentacao .fas {
    color: var(--primary-color);
    margin-bottom: 15px;
}

#apresentacao h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#apresentacao p {
    font-size: 1rem;
}

/* Botao Ouvir Musica */

#tocar-musica button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: rgba(245, 245, 245, 0.678);
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

#tocar-musica button:hover {
    background-color: rgb(245, 245, 245)
}

/* Funcionalidades */

#funcionalidades .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

#funcionalidades .card:hover {
    transform: translateY(-10px);
}

#funcionalidades .card-body {
    padding: 30px;
}

#funcionalidades .card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#funcionalidades .card-text {
    font-size: 1rem;
}

/* Depoimentos */

#depoimentos {
    background-color: var(--primary-color);
    color: #fff;
    padding: 50px 0;
}

#depoimentos h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

#depoimentos blockquote {
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#depoimentos .blockquote-footer {
    color: black;
    background: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#depoimentos .card {
    transition: transform 0.2s;
}

#depoimentos .card:hover {
    transform: translateY(-10px);
}

/* Estilo das Imagens de Depoimentos */
#depoimentos img {
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

blockquote .blockquote-footer {
    color: #ddd;
}

/* Formulário de Contato */

#contato {
    padding: 50px 0;
}

#contato form {
    max-width: 800px;
    margin: 0 auto;
}

#contato .form-control {
    border-radius: 0;
}

#contato button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
}

/* Rodapé */

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    font-size: 0.9rem;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    #apresentacao h2,
    #depoimentos h2 {
        font-size: 2rem;
    }

    #apresentacao h3,
    #funcionalidades .card-title {
        font-size: 1.2rem;
    }

    #funcionalidades .card-body {
        padding: 20px;
    }

    blockquote {
        font-size: 1rem;
    }
}